/* Сайдбар */
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

/* Основной фон */
body {
  background-color: #f0f5ea; /* Светло-зеленый */
  font-family: 'Arial', 'sans-serif', serif;
  margin: 0;
  padding: 20px;
  color: #333; /* Черный насыщенный */
}

/* Заголовок */
h1 {
  color: #333; /* Черный насыщенный */
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 20px;
}
h1::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #e1e4da; /* Серый */
  opacity: 0.7;
  z-index: -1;
}

/* Контейнер книги */
.book {
  border: 2px solid #ccc; /* Светло-серый */
  border-radius: 8px;
  margin: 5px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e1e4da; /* Серый */
}

/* Заголовок книги */
.book-title {
  font-size: 18px;
  margin-bottom: 8px;
  color: #333; /* Черный насыщенный */
}

/* Авторы книги */
.book-authors {
  font-style: italic;
  color: #333; /* Черный насыщенный */
}

#genre-list,
#author-list {
  list-style-type:decimal;
  text-decoration: none;
  margin-bottom: 10px;
}

.genre-link,
.author-link {
  padding: 5px;
  font-size: 20px;
  text-decoration: none; /* Убираем подчеркивание */
  font-weight: bold;
  color: #333; /* Черный насыщенный */
  transition: color 0.2s ease; /* Плавное изменение цвета при наведении */
}

.genre-link:hover,
.author-link:hover {
  color: #666; /* Черный полутемный при наведении */
  text-decoration: underline;
}


/* Модальное окно */
#bookCreationModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
#bookCreationModal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
#bookCreationModal .close {
  color: #333; /* Черный насыщенный */
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#bookCreationModal .close:hover, #bookCreationModal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Ссылки в сайдбаре */
.sidebar li a {
  text-decoration: none;
  color: #333; /* Черный насыщенный */
  padding: 10px;
  font-weight: bold;
}

/* Ссылки в сайдбаре при наведении */
.sidebar li a:hover {
  background-color: #333; /* Черный насыщенный */
  color: #fff; /* Белый */
}

.sidebar ul {
  list-style-type: none;
  padding-bottom: 10px;
  margin: 0;
  display: flex; /* Отображение элементов в ряд */
  flex-wrap: wrap; /* Перенос на новую строку при нехватке места */
  justify-content: center; /* Выравнивание элементов по центру по горизонтали */
}

#bookContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Кнопка удаления */
.delete-button {
  width: 75px;
  background-color: #ff6347; /* Красный */
  color: white;
  border: none;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

/* Кнопка обновления */
.update-button {
  width: 75px;
  background-color: #444444; /* Темно-серый */
  color: white;
  border: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

/* Ссылки на книги */
.book-title-link {
  font-size: 18px;
  text-decoration: none;
  color: #333; /* Черный насыщенный */
  transition: 0.1s ease;
}

/* Ссылки на книги при наведении */
.book-title-link:hover {
  font-weight: bold;
}

.bookinstance-link {
  color: #333; /* Черный насыщенный */
  text-decoration: none; /* Убираем подчеркивание */
  transition: color 0.1s ease, transform 0.1s ease; /* Плавное изменение цвета и масштаба */
}

.bookinstance-link:hover {
  font-weight: bold; /* Добавляем жирное начертание при наведении */
  transform: scale(1.05); /* Увеличиваем масштаб текста при наведении */
}

.bookinstance-link:visited {
  color: #333; /* Цвет для уже посещенных ссылок */
}

input, select, textarea, button {
  border: 2px solid #333;
  background-color: white;
  border-radius: 0.25rem;
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 35%;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
}

button:hover {
  background-color: #333;
  color: white;
}